{% extends "base.html" %}

{% block content %}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="error-template">
                <h1 class="display-1">500</h1>
                <h2>Internal Server Error</h2>
                <div class="error-details mb-4">
                    Sorry, something went wrong on our end. We're working on fixing it.
                </div>
                <div class="error-actions">
                    <a href="{{ url_for('main.index') }}" class="btn btn-primary">
                        <i class="fa fa-home"></i> Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
